html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  color: white;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

.left {
  float: left;
  width: 40px;
}

.right {
  float: right;
  width: 40px;
}

a {
  font-size: 1.125rem;
  text-decoration: none;
  color: white;
  text-align: center;
  border: 3px solid #a63f38;
  overflow: hidden;
}

a:hover {
  background-color: #a63f38;
}

ul {
  list-style-type: none;
}

.home {
  float: left;
  width: 33.33%;
}

.cereals {
  float: none;
  width: 33.33%;
}

.legumes {
  float: right;
  width: 33.33%;
}

header {
  background-color: #d05c2e;
}
